<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
    <script src="/assets/js/color-modes.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.118.2">
    <title>Clarusway FullStack Team</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/blog/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="/assets/bs/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <link href="/assets/blog.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <header class="border-bottom lh-1 py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                </div>
                <div class="col-4 text-center">
                    <a class="blog-header-logo text-body-emphasis text-decoration-none" href="/">MY BLOG</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <a class="btn btn-sm btn-outline-secondary" href="/login">Login</a>
                </div>
            </div>
        </header>
        <!-- Blog Categories -->
        <div class="nav-scroller py-1 mb-3 border-bottom">
            <nav class="nav nav-underline justify-content-between">
                <a class="nav-item nav-link link-body-emphasis" href="#">World</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">Technology</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">Design</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">Culture</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">Business</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">Politics</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">Science</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">Health</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">Style</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">Travel</a>
            </nav>
        </div>
    </div>
    <!-- main start -->
    <main class="container">
        <div class="row g-5">
            <div class="col-md-8">
                <div class="admin-area text-end">
                    <a class="btn btn-primary" href="/post/create">New Post</a>
                </div>
                <h3 class="pb-4 fst-italic border-bottom">
                    Welcome to my blog site.
                </h3>
                <!-- BlogPosts -->
                <article class="blog-post">
                    <h2 class="display-5 mb-1">
                        <a href="/post/:id" class="link-body-emphasis text-decoration-none">Sample Blog Post</a>
                    </h2>
                    <p class="blog-post-meta">January 1, 2021</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <div class="admin-area text-end">
                        <a class="btn btn-sm btn-primary" href="/post/:id/update">Update</a>
                        <a class="btn btn-sm btn-danger" href="/post/:id/delete" onclick="return confirm('Are you sure?')">Delete</a>
                    </div>
                </article>
                <article class="blog-post">
                    <h2 class="display-5 mb-1">
                        <a href="/post/:id" class="link-body-emphasis text-decoration-none">Sample Blog Post</a>
                    </h2>
                    <p class="blog-post-meta">January 1, 2021</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <div class="admin-area text-end">
                        <a class="btn btn-sm btn-primary" href="/post/:id/update">Update</a>
                        <a class="btn btn-sm btn-danger" href="/post/:id/delete" onclick="return confirm('Are you sure?')">Delete</a>
                    </div>
                </article>
                <article class="blog-post">
                    <h2 class="display-5 mb-1">
                        <a href="/post/:id" class="link-body-emphasis text-decoration-none">Sample Blog Post</a>
                    </h2>
                    <p class="blog-post-meta">January 1, 2021</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <div class="admin-area text-end">
                        <a class="btn btn-sm btn-primary" href="/post/:id/update">Update</a>
                        <a class="btn btn-sm btn-danger" href="/post/:id/delete" onclick="return confirm('Are you sure?')">Delete</a>
                    </div>
                </article>
                <article class="blog-post">
                    <h2 class="display-5 mb-1">
                        <a href="/post/:id" class="link-body-emphasis text-decoration-none">Sample Blog Post</a>
                    </h2>
                    <p class="blog-post-meta">January 1, 2021</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <div class="admin-area text-end">
                        <a class="btn btn-sm btn-primary" href="/post/:id/update">Update</a>
                        <a class="btn btn-sm btn-danger" href="/post/:id/delete" onclick="return confirm('Are you sure?')">Delete</a>
                    </div>
                </article>
                <article class="blog-post">
                    <h2 class="display-5 mb-1">
                        <a href="/post/:id" class="link-body-emphasis text-decoration-none">Sample Blog Post</a>
                    </h2>
                    <p class="blog-post-meta">January 1, 2021</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                        consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                        magnam, voluptas odit reiciendis amet praesentium qui.
                        Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                        voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                        nostrum dolore vitae suscipit.</p>
                    <div class="admin-area text-end">
                        <a class="btn btn-sm btn-primary" href="/post/:id/update">Update</a>
                        <a class="btn btn-sm btn-danger" href="/post/:id/delete" onclick="return confirm('Are you sure?')">Delete</a>
                    </div>
                </article>
                <!-- Pagination -->
                <nav class="blog-pagination" aria-label="Pagination">
                    <a class="btn btn-outline-primary rounded-pill" href="#">1</a>
                    <a class="btn btn-outline-secondary rounded-pill">2</a>
                </nav>
                <p class="text-end p-2 border-top">Total 5 Posts</p>
            </div>
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div>
                        <h3 class="fst-italic">Recent Posts</h3>
                        <ul class="list-unstyled">
                            <!-- Recent posts -->
                            <li>
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                    href="/post/:id">
                                    <div class="col-lg-8">
                                        <h5>Sample Blog Post</h5>
                                        <p class="my-2">Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                                        <small class="text-body-secondary">January 15, 2023</small>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                    href="/post/:id">
                                    <div class="col-lg-8">
                                        <h5>Sample Blog Post</h5>
                                        <p class="my-2">Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                                        <small class="text-body-secondary">January 15, 2023</small>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                    href="/post/:id">
                                    <div class="col-lg-8">
                                        <h5>Sample Blog Post</h5>
                                        <p class="my-2">Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
                                        <small class="text-body-secondary">January 15, 2023</small>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- main end -->
    <footer class="py-5 text-center text-body-secondary bg-body-tertiary">
        <p>
            <b>Clarusway FullStack Team</b>
            <br>Visit to <a href="https://www.clarusway.com/">Clarusway</a>
        </p>
    </footer>
</body>

</html>