{%- include('incHeader') %}
</div>
<!-- main start -->
<main class="container">
    <div class="row g-5">
        <div class="col-md-12 p-3">
            <!-- BlogPost Read -->
            <div class="admin-area text-end">
                <a class="btn btn-sm btn-primary" href="/post/:id/update">Update</a>
                <a class="btn btn-sm btn-danger" href="/post/:id/delete" onclick="return confirm('Are you sure?')">Delete</a>
                Published: true
            </div>
            <article class="blog-post">
                <a href="/post?filter[blogCategoryId]=:id"># CategoryName</a>
                <h2 class="display-5 mb-1">
                    <a href="/post/:id" class="link-body-emphasis text-decoration-none">Sample Blog Post</a>
                </h2>
                <p class="blog-post-meta">January 1, 2021</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                    consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                    magnam, voluptas odit reiciendis amet praesentium qui.
                    Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                    voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                    nostrum dolore vitae suscipit.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                    consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                    magnam, voluptas odit reiciendis amet praesentium qui.
                    Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                    voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                    nostrum dolore vitae suscipit.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique labore repellendus quibusdam
                    consequuntur quae illum excepturi maxime expedita voluptatum, numquam rem distinctio pariatur
                    magnam, voluptas odit reiciendis amet praesentium qui.
                    Fugit dicta quos porro dolor, assumenda aperiam magnam sit eaque voluptate corporis. Facilis
                    voluptatem ea aperiam eveniet hic atque ducimus doloribus, dolorem, vero labore porro earum,
                    nostrum dolore vitae suscipit.</p>
            </article>
        </div>
    </div>
</main>
<!-- main end -->

{%- include('incFooter') %}