<%- include('_header') -%>

<h1>TODO CREATE</h1>
<p>
  <a class="btn btn-sm btn-secondary" href="/view">List Todos</a>
</p>
<form action="" method="POST">
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>Priority</td>
        <td>
          <select class="form-select" name="priority">
            <% for (let key in priority) { %>
            <option value="<%= key %>"><%= priority[key] %></option>
            <% } %>
          </select>
        </td>
      </tr>
      <tr>
        <td>Title</td>
        <td>
          <input type="text" name="title" required class="form-control" />
        </td>
      </tr>
      <tr>
        <td>Description</td>
        <td>
          <textarea name="description" class="form-control"></textarea>
        </td>
      </tr>
    </tbody>
  </table>
  <p>
    <button class="btn btn-primary" type="submit">CREATE</button>
  </p>
</form>

<%- include('_footer') -%>
